# Normalize line endings to LF on all platforms
* text=auto eol=lf

# Force binary files to not be altered
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
